<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!--namesapce对应 mapper接口的全限定符-->
<mapper namespace="com.ptt.spzx.user.mapper.UserInfoMapper">
    <resultMap id="userInfoMap" type="com.ptt.spzx.model.entity.user.UserInfo" autoMapping="true">
    </resultMap>

    <!-- 用于select查询公用抽取的列 -->
    <sql id="columns">
        id,username,password,nick_name,avatar,sex,phone,memo,open_id,union_id,last_login_ip,last_login_time,status,create_time,update_time,is_deleted
    </sql>
    <select id="selectByUserName" resultMap="userInfoMap">
        select <include refid="columns" />
        from user_info
        where
        username = #{username}
    </select>
    <insert id="insert">
        insert into user_info (
        id,
        username,
        password,
        nick_name,
        avatar,
        sex,
        phone,
        memo,
        open_id,
        union_id,
        last_login_ip,
        last_login_time,
        status
        ) values (
        #{id},
        #{username},
        #{password},
        #{nickName},
        #{avatar},
        #{sex},
        #{phone},
        #{memo},
        #{openId},
        #{unionId},
        #{lastLoginIp},
        #{lastLoginTime},
        #{status}
        )
    </insert>
</mapper>